  <div data-role="main" class="ui-content"style="position:relative;width:91%;float:left;">
    <ol data-role="listview" data-inset="true" style="list-style: none;">									
      <li id="menu" style="display:;">
        <button class="ui-btn" onclick="interact('menu', 'starters')">
       <!-- <img style="height:60px;" src="http://192.168.0.21:9999/starter.png" /> -->
        <article style="width:50%;float:right;">
        	<h2>Starters</h2>
        </article>
        </button>
      </li>
      <li id="jukebox" style="display:;">
        <button class="ui-btn" onclick="interact('menu', 'mains')">
       <!-- <img src="#" /> -->
        <article style="width:50%;float:right;">
        	<h2>Mains</h2>
    	</article>
        </button>
        <!--<button class="ui-btn ui-corner-all ui-icon-heart ui-btn-icon-notext" onclick="alert('hi');">Heart Icon</button>-->
      </li>
      <li id="games" style="display:;">
        <button class="ui-btn" onclick="interact('menu', 'desserts')">
      <!--  <img src="#" /> -->
        <article style="width:50%;float:right;">
        	<h2>Desserts</h2>
        </article>
        </button>
      </li>
      <li id="payments" style="display:;">
        <button class="ui-btn" onclick="interact('menu', 'beverages')">
       <!-- <img src="#" /> -->
        <article style="width:50%;float:right;">
        	<h2>Beverages</h2>
        </article>
        </button>
      </li>
	</ol>
  </div>