  <div id="startersAnchor" data-role="main" class="ui-content"style="position:relative;width:91%;float:left;">
		<ol id="startersList" data-role="listview" data-inset="true" style="list-style: none;height:100%;width:100%">	
	  <li id="starter1" style="height:100px;width:100%;float:left;text-align:left;">
        <h3>Spring Rolls</h3>
      </li>
      <li id="starter2" style="height:100px;width:100%;float:left;text-align:left;">
        <h3>Salad</h3>
      </li>
      <li id="starter3" style="height:100px;width:100%;float:left;text-align:left;">
        <h3>Olives</h3>
      </li>
      <li id="starter4" style="height:100px;width:100%;float:left;text-align:left;">
        <h3>Olive bread</h3>
      </li>
      <li id="starter5" style="height:100px;width:100%;float:left;text-align:left;">
        <h3>Prawns</h3>
      </li>
      <li id="starter6" style="height:100px;width:100%;float:left;text-align:left;">
        <h3>Eggs</h3>
      </li>
	</ol>
  </div>
