<div data-role="header">
    <button class="ui-btn ui-corner-all ui-shadow ui-icon-user ui-btn-icon-left" style="position:relative;width:25%;float:left;"onclick="interact('user')"></button>
    <h1 style="position:relative;width:50%;float:left;text-align:center;">Foodscan</h1>
    <button class="ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-icon-right" style="position:relative;width:25%;float:left;"onclick="interact('home','home')"></button>
  </div>

  <div data-role="main" class="ui-content"style="position:relative;width:91%;top:200px;float:left;">
    <ol data-role="listview" data-inset="true" style="list-style: none;">									
      <li id="menu" style="">
        <article style="width:100%;text-align:center;">
        	<h2>Scan the barcode of a food item for more information</h2>
        </article>
        </button>
      </li>
      <li id="startScan">
        <button class="ui-btn" onclick="templateSelector('camera');">Start</button>
      </li>
	</ol>
  </div>
