<div data-role="header">
    <button class="ui-btn ui-corner-all ui-shadow ui-icon-user ui-btn-icon-left" style="position:relative;width:25%;float:left;"onclick="interact('user')"></button>
    <h1 style="position:relative;width:50%;float:left;text-align:center;">Games</h1>
    <button class="ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-icon-right" style="position:relative;width:25%;float:left;"onclick="interact('home','home')"></button>
  </div>

  <div data-role="main" class="ui-content"style="position:relative;width:91%;top:100px;float:left;">
    <ol data-role="listview" data-inset="true" style="list-style: none;">									
      <li id="gameOne" style="">
        <button class="ui-btn">PAC-MAN<br><img style="height:60px;" src="images/pacman.png" /></button>
      </li>
      <li id="gameTwo" style="">
        <button class="ui-btn">SNAKE<br><img style="height:60px;" src="images/snake.png" /></button>
      </li>
      <li id="gameThree" style="">
       	<button class="ui-btn">I-Spy<br><img style="height:60px;" src="images/ispy.png" /></button>
      </li>
	</ol>
  </div>
