<div data-role="header">
    <button class="ui-btn ui-corner-all ui-shadow ui-icon-user ui-btn-icon-left" style="position:relative;width:25%;float:left;"onclick="interact('user')"></button>
    <h1 style="position:relative;width:50%;float:left;text-align:center;">Loyalty</h1>
    <button class="ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-icon-right" style="position:relative;width:25%;float:left;"onclick="interact('home','home')"></button>
  </div>

  <div data-role="main" class="ui-content"style="position:relative;width:91%;top:50px;float:left;">
    <ol data-role="listview" data-inset="true" style="list-style: none;">									
      <li id="loyalOne" style="">
        <button class="ui-btn"><img style="height:60px;" src="images/beer.png" /></button>
      </li>
      <li id="loyalTwo" style="">
        <button class="ui-btn"><img style="height:60px;" src="images/food.png" /></button>
      </li>
      <li id="loyalThree" style="">
       	<button class="ui-btn"><img style="height:60px;" src="images/clothes.png" /></button>
      </li>
    </ol>
  </div>
