<div data-role="header">
    <button class="ui-btn ui-corner-all ui-shadow ui-icon-user ui-btn-icon-left" style="position:relative;width:25%;float:left;"onclick="interact('user')"></button>
    <h1 style="position:relative;width:50%;float:left;text-align:center;">Payments</h1>
    <button class="ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-icon-right" style="position:relative;width:25%;float:left;"onclick="interact('home','home')"></button>
  </div>

  <div data-role="main" class="ui-content"style="position:relative;width:91%;top:50px;float:left;">
    <ol data-role="listview" data-inset="true" style="list-style: none;">									
      <li id="paymentOne" style="">
        <button class="ui-btn"><img style="height:60px;" src="images/visa.png" /></button>
      </li>
      <li id="paymentTwo" style="">
        <button class="ui-btn"><img style="height:60px;" src="images/mastercard.png" /></button>
      </li>
      <li id="paymentThree" style="">
       	<button class="ui-btn"><img style="height:60px;" src="images/paypal.png" /></button>
      </li>
      <li id="paymentFour" style="">
       	<button class="ui-btn"><img style="height:60px;" src="images/bitcoin.png" /></button>
      </li>
	</ol>
  </div>
